body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #000;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: transparent;
    z-index: 1000;
}

header.scrolled{
    background-color: #000;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.logo {
    font-size: 1.5em;
    color: #fff;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.nav-links a:hover {
    background-color: #ff0000;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-align: center;
    background-image: url('1.jpg'); /* Sostituisci con un'immagine reale */
    background-size: cover;
    background-position: center;
}

.hero h1 {
    font-size: 5em;
    margin: 0;
}

.hero p {
    font-size: 1.5em;
}

.pre__menu{
    text-align: center;
    align-items: center;
}
.pre__menu h2{
    font-size: 4em;
    font-weight: bold;
    color: #8D0000;
    text-decoration: underline;
}

.menu-section {
    margin-top: 5%;
    position: relative;
    background-color: #000;
    padding: 30px 0;
    height: 150vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.menu-slide {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10%, 0);
    display: flex;
    align-items: center;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    max-width: 80%;
    background-color: #000;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    margin-bottom: 3%; /* Aggiungi un margine inferiore per separare le slide */
}

.menu-slide:nth-child(2) {
    transform: translate(10%, 100%);
    
}

.menu-slide:nth-child(2) img{
    transform: skewX(20deg);
}

.menu-slide:nth-child(3) {
    transform: translate(10%, 200%);
}


.menu-slide img {
    width: 50%;
    height: 45vh;
    border-radius: 10px;
    margin-right: 30px;
    margin-bottom: 3%;
    transform: skewX(-20deg);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.menu-slide div {
    max-width: 40%;
}

.menu-slide h2 {
    font-size: 2em;
    margin: 0 0 10px 10px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.menu-slide p {
    font-size: 1.2em;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
    .menu-slide {
        flex-direction: column;
    }

    .menu-slide img {
        max-width: 100%;
        margin: 0 0 20px;
        transform: skewX(0);
    }

    .menu-slide div {
        max-width: 100%;
    }
}


.products-section {
    text-align: center;
    background-color: #000;
    padding: 40px 20px;
    color: #fff;
}

.products-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.products-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.product {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    max-width: 300px;
    text-align: center;
    flex: 1;
    margin: 10px 20px;
}

.product-image {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
}

.product h3 {
    font-size: 1.8em;
    margin: 15px 0;
    color: #8D0000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.product p {
    font-size: 1.2em;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
    .products-container {
        flex-direction: column;
        align-items: center;
    }

    .product {
        max-width: 90%;
    }
}






.about-section {
    text-align: center;
    background-color: #111;
    padding: 0px 20px;
    color: #fff;
}
.about__container{
    display: flex;
}
.about-section h2 {
    font-size: 4em;
    margin-bottom: 2%;
    padding-top: 2%;
}

.carousel-container {
    position: relative;
    max-width: 40%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 60vh;
    width: 300%; /* Triplica la larghezza per contenere tutte e tre le immagini */
}

.carousel-slide img {
    width: 80%; /* Imposta la larghezza di ogni immagine al 100% del contenitore */
    height: auto;
    display: block;
    border-radius: 10px;
}

.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.about-text {
    margin-top: 20px;
    margin: 20px 40px;
    font-size: 1.2em;
    padding: 20px;
    background-color: #222;
    border-radius: 10px;
    box-shadow: 10px 15px 25px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    .carousel-container {
        max-width: 100%;
    }

    .about-text {
        font-size: 1em;
        padding: 15px;
    }
}

.contact-section {
    text-align: center;
    background-color: #222;
    padding: 40px 20px;
    color: #fff;
}

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
}

.mappa {
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    flex: 1;
    min-width: 300px;
}

.contact-info {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    flex: 1;
    min-width: 300px;
    text-align: left;
}

.contact-info h3 {
    margin-top: 0;
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.contact-info p {
    font-size: 1.2em;
    margin: 10px 0;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.contact-info a {
    color: #ffd700;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        align-items: center;
    }

    .mappa, .contact-info {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .contact-info {
        text-align: center;
    }
}






.site-footer {
    background-color: black;
    color: #fff;
    padding: 20px 0;
    font-size: 16px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.footer-section h4 {
    color: #f8f8f8;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #fff;
}

.footer-bottom {
    text-align: center;
    background-color: #111;
    margin-top: 0px;
    border-top: 1px solid #444;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.footer-section form {
    display: flex;
    gap: 10px;
}

.footer-section input[type="email"] {
    padding: 8px;
    border: none;
    width: 200px;
}

.footer-section button {
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    transition: background-color 0.3s;
}

.footer-section button:hover {
    background-color: #555;
}
.p__footer{
    text-decoration: none;
    color: white;
}

.p__footer:hover{
    transform: scale(2.15);
    color: purple;
}

/* CSS per il footer su dispositivi mobili */
@media (max-width: 960px) {
    .footer-content {
        flex-direction: column; /* Impila gli elementi verticalmente */
        gap: 20px; /* Spazio tra gli elementi */
        text-align: center; /* Allinea il testo al centro */
    }

    .footer-section {
        width: 100%; /* Occupa l'intera larghezza del contenitore */
    }

    .footer-section h4 {
        margin-bottom: 10px; /* Riduce il margine inferiore dell'heading */
    }

    .footer-section ul {
        padding-left: 0; /* Rimuove il padding a sinistra per la lista */
    }

    .footer-section ul li {
        margin-bottom: 10px; /* Aggiunge spazio tra gli elementi della lista */
    }

    .footer-section form {
        margin: 0 auto; /* Centra il form all'interno della sezione */
        max-width: 300px; /* Imposta una larghezza massima per il form */
    }

    .footer-bottom {
        margin-top: 0px; /* Aggiunge spazio sopra il footer bottom */
    }
    .p__footer{
        color: #D4A017;
        text-decoration: none;
    }
}





footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .hero h1 {
        font-size: 2em;
    }

    .hero p {
        font-size: 1.2em;
    }
}
