#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
    visibility: visible;
    font-family: 'Playfair Display', serif;
}


header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: transparent;
    z-index: 1000;
}

header.scrolled{
    background-color: #000;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.logo {
    font-size: 1.5em;
    color: #fff;
}

.nav-links {
    list-style: none;
    display: flex;
}
.nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links a {
    text-decoration: none;
    color: #FFC107;
    margin-right: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.hamburger {
    display: none; /* Nascondi hamburger su desktop */
}


@media only screen and (max-width: 960px) {
    html{
        overflow-x: hidden;
    }
    .nav-links li{width: 100%; display: block;} /*per fargli occupare lo spz bene*/
    .nav-links ul{
        display: block;
        padding: 25px 15px;
        font-size: 25px;
        font-weight: bold;
    }
    .nav-links {
        background: #000;
        position: fixed; /* Cambiato da absolute a fixed */
        top: 0;
        right: -120%;
        width: 100%;
        display: block;
        height: 300vh;
        margin: 0;
        transition: all 1s cubic-bezier(.215, .61, .355, 1);
    }
    .nav-links ul {
        margin-top: 10%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: block;
    }
    .nav-links a{
        font-size: 20px;
    }
    .nav-links {
        text-decoration: none;
        color: #FFC107;
        margin-right: 20px;
    }
    
    .nav-links a.scrolled{
        color: #000;
    }
    
    .nav-links.open {
        right: -20%;
    }
    .hamburger {
        cursor: pointer;
        display: block;
        height: 25px;
        width: 30px;
        position: absolute; 
        top: 25px; /* Modificato per allinearlo correttamente */
        right: 20px; /* Modificato per allinearlo correttamente */
    }
    .hamburger span {
        display: block;
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: white;
        transition: transform 0.3s ease; /* Aggiunto effetto transizione */
    }
    .hamburger span:nth-child(1) {
        top: 0;
    }
    .hamburger span:nth-child(2) {
        top: 10px; /* Modificato per centrare verticalmente */
    }
    .hamburger span:nth-child(3) {
        top: 20px; /* Aggiunto per la terza barra */
    }
    .hamburger.open span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px); /* Rotazione e traslazione per formare la X */
    }
    .hamburger.open span:nth-child(2) {
        opacity: 0; /* Nasconde la seconda barra quando il menu è aperto */
    }
    .hamburger.open span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px); /* Rotazione e traslazione per formare la X */
    }
}


body{background-color: black; margin: 0; font-family: 'Playfair Display', serif;}



/* Contenitore principale per i box del menù */
.menu-container {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
/* Stile per ogni box del menù */

/* Aggiunta delle transizioni alle dimensioni dei box */
.menu-box {
    background-color: white;
    width: 300px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease;
}

/* Effetto di ingrandimento al passaggio del cursore sopra al box */
.menu-box:hover {
    transform: scale(1.05); /* Ingrandisce il box del 5% */
}



/* Stile per le immagini all'interno dei box */
.menu-box img {
    width: 100%;
    height: auto;
    border-bottom: 5px solid;
}
/* Stile per i titoli all'interno dei box */
.menu-box h2 {
    margin: 0;
    padding: 15px;
    font-size: 24px;
    color: #000;
}
/* Stile per i paragrafi all'interno dei box */
.menu-box p {
    padding: 0 15px 15px;
    font-size: 16px;
    color: #111; 
}
/* Stile specifico per il box della pizza */
.pizza-box {
    border-color: #fff; 
}
/* Stile specifico per il box del kebab */
.kebab-box {
    border-color: #fff; 
}
/* Stile specifico per il box del calzone */
.calzone-box {
    border-color: #fff; 
}
/* Stile specifico per il box della Coca Cola */
.cocacola-box {
    border-color: #fff;
}
/* Stile specifico per il box della farinata */
.farinata-box {
    border-color: #fff; 
}






.pizze-link {
    text-decoration: none; /* Rimuove la sottolineatura */
    color: inherit; /* Eredita il colore dall'elemento padre */
    outline: none; /* Rimuove il bordo evidenziato */
}

.menu-link:focus, .menu-link:active {
    outline: none; /* Rimuove il bordo evidenziato anche quando il link è in focus o attivo */
}


.color1{color: #fff;}
.color2{color: #fff;}
.color3{color: #fff;}
.color4{color: #fff;}
.color5{color: #fff;}

.color5.scrolled{color: #fff;}
.color2.scrolled{color:  #fff}







/*Footer*/



.site-footer {
    background-color: black;
    color: #fff;
    padding: 20px 0;
    font-size: 16px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.footer-section h4 {
    color: #f8f8f8;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #fff;
}

.footer-bottom {
    text-align: center;
    background-color: #111;
    margin-top: 0px;
    border-top: 1px solid #444;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.footer-section form {
    display: flex;
    gap: 10px;
}

.footer-section input[type="email"] {
    padding: 8px;
    border: none;
    width: 200px;
}

.footer-section button {
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    transition: background-color 0.3s;
}

.footer-section button:hover {
    background-color: #555;
}
.p__footer{
    text-decoration: none;
    color: white;
}

.p__footer:hover{
    transform: scale(2.15);
    color: purple;
}

/* CSS per il footer su dispositivi mobili */
@media (max-width: 960px) {
    .footer-content {
        flex-direction: column; /* Impila gli elementi verticalmente */
        gap: 20px; /* Spazio tra gli elementi */
        text-align: center; /* Allinea il testo al centro */
    }

    .footer-section {
        width: 100%; /* Occupa l'intera larghezza del contenitore */
    }

    .footer-section h4 {
        margin-bottom: 10px; /* Riduce il margine inferiore dell'heading */
    }

    .footer-section ul {
        padding-left: 0; /* Rimuove il padding a sinistra per la lista */
    }

    .footer-section ul li {
        margin-bottom: 10px; /* Aggiunge spazio tra gli elementi della lista */
    }

    .footer-section form {
        margin: 0 auto; /* Centra il form all'interno della sezione */
        max-width: 300px; /* Imposta una larghezza massima per il form */
    }

    .footer-bottom {
        margin-top: 0px; /* Aggiunge spazio sopra il footer bottom */
    }
    .p__footer{
        color: #D4A017;
        text-decoration: none;
    }
}


